# Source files
# ============
*.Rdata binary
*.RData binary
*.rda   binary
*.rdb   binary
*.rds   binary
*.Rd    text
*.Rdx   binary
*.Rmd	  text
*.R  	  text
*.Rproj text

*.[Rr]md linguist-detectable = true
*.java linguist-detectable=false  
*.js linguist-detectable=false  
*.html linguist-detectable=false  
*.tex linguist-detectable=false  
